/* Сброс стандартных стилей браузера */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Установка основных стилей */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
  }
  
  h1, h2, h3 {
    color: #2a75bb;
  }
  
  button {
    cursor: pointer;
    font-family: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  